<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container">
            <footer>
                <div class="row">
                    <div class="span4">
                        <header>
                            <h4>The Ad Manager</h4>
                        </header>
                        <section>
                            is provided to you by RMteam<br>
                            <div style="float:right;width:50px;">
                                <aside> check out the video for more details </aside>
                            </div>
                            and is for commercial use only. <br>

                        </section>
                        <section>
                            All rights reserved. <br><br>
                        </section>
                        <section>
                            news feed:
                            <!-- start sw-rss-feed code -->

                            <!-- end sw-rss-feed code -->
                    </div>
                    <table>
                        <tr>
                            <th>
                                <div class="span4">
                                    <video width="200" height="240" controls>
                                        <source src="Content/images/video.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </th>
                            <th>
                                <a href="mailto:contact@RSteam.com">
                                    <div class="circle">
                                        email us!
                                    </div>
                                </a>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <a width="100" height="240" class="twitter-timeline" href="https://twitter.com/mmediamarketing">Tweets by mMediaMarketing</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></th>
                            <th>
                                Crew: <br>
                                <div class="crew">
                                    <font size="1">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation it in vulp
                                    </font>    </div>

                            </th>
                        </tr>

                    </table>
                </div>
            </footer>
        </div>
    </div>
</div>
</body>
</html>