<h1>TEMPLATE B</h1>
<style>
    body {background-color:blue}
    h1   {color:red}
    p    {color:yellow}
</style>

<div class="row">
    <div class="col-md-3">
        <img id="pic1" src="~pic1~" />
    </div>
    <div class="col-md-3">
        <img id="pic2"  src="~pic2~" />
    </div>
    <div class="col-md-6 text-left" >
        <p class="line">~line1~</p>
        <p class="line">~line2~</p>
        <p class="line">~line3~</p>
        <p class="line">~line4~</p>
        <p class="line">~line5~</p>
        <p class="line">~line6~</p>
        <p class="line">~line7~</p>
        <p class="line">~line8~</p>
        <p class="line">~line9~</p>
        <p class="line">~line10~</p>

    </div>
</div>




