<h1>TEMPLATE A</h1>
<style>
    body {background-color:red}
    h1   {color:blue}
    img   { width:304px;height:228px}
</style>

<div class="row">
    <div class="col-md-3">
        <img id="pic1" src="~pic1~" />
    </div>
    <div class="col-md-6 text-center" >
        <p class="line">~line1~</p>
        <p class="line">~line2~</p>
        <p class="line">~line3~</p>
        <p class="line">~line4~</p>
    </div>

    <div class="col-md-3">
        <img id="pic2"  src="~pic2~" />
    </div>
</div>




